body {
    font-family: sans-serif;
}
header {
    background-color:lightgreen;
    border:3px solid steelblue;
    border-radius:30px;
    padding: 10px;
}
h1 {
    color:rgba(183, 0, 255, 0.589);
}
footer { border:1px solid black;
    background:darkgreen;
    border-radius: 30px;
    padding: 5px;
}
footer p {
    background:lightblue;
}
nav{background-color:grey;
    text-align:center;
    border-radius:30px;
    padding:5px;
}
nav a {
    color:white;
    text-decoration: none;
    background-color:lime;
    border-radius: 30px;
    padding:5px;
}
.erik { border-radius:20px;
    background-color:red;
    padding: 5px;
}
main h2{
    color: darkblue;
}
